<nav class="grey darken-4">
    <div class="nav-wrapper nv-custom">
        <a href="/" class="brand-logo">TODO Demo Application</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">List</a></li>
            <li><a href="/create">Create</a></li>
        </ul>
    </div>
</nav>