<h2>Create new TODO</h2>

<form action="/create" method="POST">
    <div class="input-field">
        <input type="text" name="content">
        <label for="content">Content</label>
    </div>
    <button type="submit" class="btn">Create</button>
</form>